html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}
body{
	
	font-family: Roboto, sans-serif;

	max-width: 1550px;
	margin: 0 auto;
	padding: 5px;
	
	padding: 0;
	min-width: 1500px;
	background-color: #696969;
	background: linear-gradient( to left,black,#696969,black);
	
}



/*@media(max-width: 1200px){
	header{
		max-width: 970px;
	}

}
@media(max-width: 992px){
	header{
		max-width: 1000px;
		height:  100vh;
	}
	.foto img{
		width: 20%;
		height: 30%;
		border: solid 2px white;
		float: left; 
	}
	.foto{
		
		height: 30%;
	}
}
@media(max-width: 767px){
	header{
		max-width: none;
	}
}*/




@media(max-width: 4000px){
	.container1{

	background-color: black;
	height: 10%;
	padding: 0;
	float: left;
	
	width: 100%;
	
}
header{
	width: 100%;
	 height: 100vh;
	 padding: 0;
	 margin: 0 ;
	 background-image: url('background1.jpg');
}
#toTop{
	margin-bottom: 20px;
	width:60px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
/*border:1px solid #ccc;
background:#f7f7f7;*/
background: grey;
text-align:center;
padding-top: 5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:white;
font-size:30px;
}
.left1{
	float: left;
	margin-left: 13%;
}
.logo{
	font-family: Pompudar;
	float:left; 
	text-transform: uppercase;
	color: white;
	margin-top: 1.2%;
	margin-left: 3%;
}

.menu a{
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	color:white;
	
}
	.conteiner{
		max-width: 1200px;
		margin-bottom: 5%;
		float: left;
		width: 100%;
	}
	.p1{
	
	float: left;
}
	.tabl{
	width: 35%;
	margin-left: 15%;
	float: left;
	}
	.hpi{
	width: 30%;
	float: right;
	margin-right: 20%;
	
}
.information{
	border-radius: 3%;
	background: #000000;
	margin-right: 10%;
	margin-top: 11%;
	float: right;
	width: 40%;
	

}
.information h1{
	margin-left: 5%;
	color: white;
	margin-bottom: 0;
}
.information li{
	font-family: Roboto;
	color: #009D91;
	font-size: 25px;
}
.foto{
	
	margin-top: 5%;
	/*display: table-cell;*/
	
	float: right;
	width: 40%;
	height: 60%;
	/*margin-top: 5%;

	margin-top: 50px;
	margin-right: 50px;
	width: 40%;
	height: 70%;
	float: right;*/
}
.foto img{
	margin-top: 5%;
	margin-right: 10%;
	-webkit-transition: all 0.3s ease-out;
			height: 150px;
			width: 200px;
			overflow: hidden;
			border: 10px solid #fff;
			border: 10px solid #eee\9;
			-webkit-box-shadow:2px 3px 10px #6E6E6E;
			box-shadow: 2px 3px 10px #6E6E6E;
			float: right;
			cursor: pointer;
	/*border: solid 2px red;
	width: 45%;
	height: 45%;*/
}
#thumbs a {
  border: solid 1px #ccc;
  width: 100px;
  height: 100px;
  padding: 3px;
  /*margin: 2px;*/
  float: left;
}
#thumbs img{
	width: 100px;
	height: 100px;
}
.left1{
	float: left;
	width: 90%;

	
}
.slov{
	float: left;
	border: solid 1px white;
	width: 30%;
	margin-left: 5%;
}
.cit{
	margin-right: 5%;
	float: right;
	width: 30%;
	border: solid 1px white; 
}
.cit h3{
	text-align: center;
	font-family: Pompudar;
	color: #D3D3D3;
	font-size: 40px;
}
.slov li{
	font-size: 20px;
	color: #D3D3D3;
	font-family: Pompudar;
	font-size:  25px;
}
table{

	padding: 5%;
	border: solid 2px;
	border-color: #BF3030;
	color: #D3D3D3;
	font-size: 20px;
	font-family: Pompudar;
}
	h2{
	font-family: Roboto;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}
	.film1 img{
	border: solid 4px black;
	/*margin:2% 5% 2% 5%; */
	width: 250px;
	height: 300px;
	margin-top: 0;
}
.film1 p{
	font-family: Roboto;
	margin: 0;
	margin-bottom: 5%;
	text-align: center;
	font-size: 20px;     }
.film1{
	margin-left: 10%;
	border: solid 1px black;
	
	float: left;
	
	display: block;
	padding: 1%;

}
.podfilm{
	margin-top: 2%;
	width: 100%;
	float: left;
	
}
.podfilm .film1{
	margin-left: 19.7%;
}
.nastroy2{
	
	float: left;
	margin-left: 10%;
	height: 300px;
	width: 20%;
}
.nastroy2 img{
	border: solid 2px black;
	margin-left: 4%; 
	width: 90%;
	height: 80%;
}
.nastroy2 p{
	margin: 0;
	font-family: Pompudar;
	color: #E6E6FA;
	margin-bottom: 5%;
	text-align: center;
	font-size: 20px;

}
.info{
	margin-left: 5%;
	
	float: left;
	width: 40%;
	
}
.fotoo{
	width: 50%;
	float: left;
}

.container h3{
	text-align: center;
	color: white;
	font-size: 25px;

}
.container li{
	font-size: 19px;
	color: #D3D3D3;
	font-family: Pompudar;
}
#largeImg {
  border: solid 2px #ccc;
  width: 600px;
  height: 424px;
  padding: 3px;
  float: left;
}



}



@media(max-width: 1200px){
	#toTop{
	margin-bottom: 20px;
	width:60px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
/*border:1px solid #ccc;
background:#f7f7f7;*/
background: black;
text-align:center;
padding-top: 5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:white;
font-size:30px;
}
	.container1{

	background-color: black;
	height: 9%;
	padding: 0;
	float: left;
	
	width: 100%;
	
}
.information{
	border-radius: 3%;
	background: #000000;
	margin-right: 25%;
	margin-top: 11%;
	float: right;
	width: 50%;
	

}
header{
	width: 100%;
	 height: 1300px;
	 padding: 0;
	 margin: 0 ;
	 background-image: url('background1.jpg');
}
.information h1{
	margin-left: 5%;
	color: white;
	font-size: 35px;
	margin-bottom: 0;
}
.information li{
	font-family: Roboto;
	color: #009D91;
	font-size: 35px;
}
.logo{
	font-family: Pompudar;
	float:left; 
	text-transform: uppercase;
	color: white;
	margin-top: 2%;
	margin-left: 3%;
}

.menu a{
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	color:white;
	
}
	.conteiner{
		max-width: 970px;
		margin-bottom: 3%;
		float: left;
		width: 100%;
	}
	.slov{
	float: left;
	border: solid 2px white;
	width: 40%;
	margin-left: 5%;
}
.foto{
	
	margin-top: 5%;
	/*display: table-cell;*/
	
	float: right;
	width: 60%;
	height: 70%;
	margin-right: 20%;
	/*margin-top: 5%;

	margin-top: 50px;
	margin-right: 50px;
	width: 40%;
	height: 70%;
	float: right;*/
}
.foto img{
	margin-top: 5%;
	margin-right: 10%;
	-webkit-transition: all 0.3s ease-out;
			height: 250px;
			width: 300px;
			overflow: hidden;
			border: 10px solid #fff;
			border: 10px solid #eee\9;
			-webkit-box-shadow:2px 3px 10px #6E6E6E;
			box-shadow: 2px 3px 10px #6E6E6E;
			float: right;
			cursor: pointer;
	/*border: solid 2px red;
	width: 45%;
	height: 45%;*/
}
.cit{
	margin-right: 5%;
	float: right;
	width: 40%;
	border: solid 2px white; 
}
.cit h3{
	text-align: center;
	font-family: Pompudar;
	color: #D3D3D3;
	font-size: 40px;
}
.slov li{
	font-size: 30px;
	color: #D3D3D3;
	font-family: Pompudar;
	
}
	h2{
	font-family: Roboto;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 35px;
	}

	.film1 img{
	border: solid 4px black;
	/*margin:2% 5% 2% 5%; */
	width: 350px;
	height: 400px;
	margin-top: 0;
}
.film1 p{
	font-family: Roboto;
	margin: 0;
	margin-bottom: 5%;
	text-align: center;
	font-size: 25px;}
.film1{
	margin-left: 5%;
	border: solid 1px black;
	float: left;
	display: block;
	padding: 1%;

}
.podfilm{
	margin-top: 2%;
	width: 100%;
	float: left;
	
}
.podfilm .film1{
	margin-left: 15%;
}
.nastroy2{
	
	float: left;
	margin-left: 2%;
	height: 400px;
	width: 30%;
}
.nastroy2 img{
	border: solid 2px black;
	margin-left: 4%; 
	width: 90%;
	height: 80%;
}
.nastroy2 p{
	margin: 0;
	font-family: Pompudar;
	color: #E6E6FA;
	margin-bottom: 5%;
	text-align: center;
	font-size: 35px;

}
.info{
	margin-left: 10%;
	
	float: left;
	width: 40%;
	
}
.fotoo{
	margin-top: 5%;
	width: 50%;
	float: left;
}

.container h3{
	text-align: center;
	color: white;
	font-size: 35px;

}
.left1{
	margin-left: 13%;
}
.container li{
	font-size: 25px;
	color: #D3D3D3;
	font-family: Pompudar;
}
#largeImg {
  border: solid 2px #ccc;
  width: 600px;
  height: 424px;
  padding: 3px;
  float: left;
}
/*}
	.tabl{
	margin-left: 16.5%;
	width: 100%;
	float: left;
	


	
	}
.hpi{
	width: 70%;
	float: right;
	margin-right: 15%;
	
}
table{

	padding: 5%;
	border: solid 2px;
	border-color: #BF3030;
	color: #D3D3D3;
	font-size: 30px;
	font-family: Roboto;
}*/
	

}
@media(max-width: 958px){
	#toTop{
	margin-bottom: 20px;
	width:80px;
	height: 60px;
	border-radius: 50% 50% 50% 50%;
/*border:1px solid #ccc;
background:#f7f7f7;*/
background: black;
text-align:center;
padding-top: 15px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:white;
font-size:60px;
}
	.conteiner{
		border: solid 2px red;
		margin-left: 100px;
		max-width: 750px;
		margin-bottom: 3%;

	float: left;
	width: 100%;
	}
	.information{
	border-radius: 3%;
	background: #000000;
	margin-right: 20%;
	margin-top: 11%;
	float: right;
	width: 60%;
	

}
header{
	width: 100%;
	 height: 1500px;
	 padding: 0;
	 margin: 0 ;
	 background-image: url('background1.jpg');
}
.information h1{
	margin-left: 5%;
	color: white;
	font-size: 45px;
	margin-bottom: 0;
}
.information li{
	font-family: Roboto;
	color: #009D91;
	font-size: 55px;
}
	.foto{
	
	margin-top: 5%;
	/*display: table-cell;*/
	
	float: right;
	margin-right: 10%;
	width: 80%;
	height: 80%;
	/*margin-top: 5%;

	margin-top: 50px;
	margin-right: 50px;
	width: 40%;
	height: 70%;
	float: right;*/
}

.foto img{
	margin-top: 5%;
	margin-right: 10%;
	-webkit-transition: all 0.3s ease-out;
			height: 300px;
			width: 400px;
			overflow: hidden;
			border: 10px solid #fff;
			border: 10px solid #eee\9;
			-webkit-box-shadow:2px 3px 10px #6E6E6E;
			box-shadow: 2px 3px 10px #6E6E6E;
			float: right;
			cursor: pointer;
	/*border: solid 2px red;
	width: 45%;
	height: 45%;*/
}
	.tabl{
	margin-left: 15%;
	width: 70%;
	float: left;
	


	
	}
	.slov{
	float: left;
	border: solid 5px white;
	width: 40%;
	margin-left: 5%;
	height: 300px;

}
.cit{
	margin-right: 5%;
	float: right;
	width: 40%;
	border: solid 5px white; 
	height: 300px;
}
.cit h3{
	text-align: center;
	font-family: Pompudar;
	color: #D3D3D3;
	font-size: 50px;
}
.slov li{
	
	color: #D3D3D3;
	font-family: Pompudar;
	font-size:  35px;
}
	.left1{
	
	float: left;
	margin-left: 20%;
}
	#thumbs a {
  border: solid 1px #ccc;
  width: 150px;
  height: 150px;
  padding: 3px;
  /*margin: 2px;*/
  float: left;
  
}
#thumbs img{
	width: 150px;
	height: 150px;
}
.left1{
	float: left;
	width: 90%;

	
}
	.container li{
	font-size: 35px;
	color: #D3D3D3;
	font-family: Pompudar;
}
#largeImg {
  border: solid 2px #ccc;
  width: 800px;
  height: 624px;
  padding: 3px;
  float: left;
  margin-left: 15%;
}
	.info{
	margin-left: 20%;
	
	float: left;
	width: 60%;
	
}
.fotoo{
	width: 70%;
	float: left;
	margin-left: 15%;
}

.container h3{
	text-align: center;
	color: white;
	font-size: 45px;

}
	.nastroy2{
	
	float: left;
	margin-left: 30%;
	height: 500px;
	width: 40%;
}
.nastroy2 img{
	border: solid 2px black;
	margin-left: 4%; 
	width: 90%;
	height: 80%;
}
.nastroy2 p{
	margin: 0;
	font-family: Pompudar;
	color: #E6E6FA;
	margin-bottom: 5%;
	text-align: center;
	font-size: 50px;

}

.hpi{
	width: 70%;
	float: right;
	margin-right: 15%;
	
}
table{

	padding: 5%;
	border: solid 2px;
	border-color: #BF3030;
	color: #D3D3D3;
	font-size: 40px;
	font-family: Roboto;
}
h2{
	font-family: Roboto;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 40px;
}
	.film1 img{
	border: solid 4px black;
	/*margin:2% 5% 2% 5%; */
	width: 400px;
	height: 450px;
	margin-top: 0;
}
.film1 p{
	font-family: Roboto;
	margin: 0;
	margin-bottom: 5%;
	text-align: center;
	font-size: 30px;}
.film1{
	margin-left: 35%;
	border: solid 1px black;
	float: left;
	display: block;
	padding: 1%;
}
#toTop{
	margin-bottom: 20px;
	width:120px;
	height: 90px;
	border-radius: 50% 50% 50% 50%;
/*border:1px solid #ccc;
background:#f7f7f7;*/
background: black;
text-align:center;
padding-top: 20px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:white;
font-size:60px;
}



.podfilm{
	margin-top: 2%;
	width: 100%;
	float: left;
	
}
.podfilm .film1{
	margin-left: 13%;
}


}




@media(max-width: 767px){

	.conteiner{
		max-width: none;
		margin-bottom: 3%;
		float: left;
		width: 100%;
	}
	.tabl {
	
	
	margin-left: 10%;
	float: left;
	width: 85%;

	
	}
	header{
	width: 100%;
	 height: 2000px;
	 padding: 0;
	 margin: 0 ;
	 background-image: url('background1.jpg');
}
.hpi{
	width: 80%;
	float: right;
	margin-right: 10%;
	
}
table{
	/*width: 100%;*/
	padding: 2%;
	border: solid 2px;
	border-color: #BF3030;
	color: #D3D3D3;
	font-size: 46.7px;
	font-family: Roboto;
}
	h2{
	font-family: Roboto;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 45px;
}
#toTop{
	margin-bottom: 20px;
	width:150px;
	height: 120px;
	border-radius: 50% 50% 50% 50%;
/*border:1px solid #ccc;
background:#f7f7f7;*/
background: black;
text-align:center;
padding-top: 40px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:white;
font-size:60px;
}
	.film1 img{
	border: solid 4px black;
	/*margin:2% 5% 2% 5%; */
	width: 450px;
	height: 500px;
	margin-top: 0;
}
.film1 p{
	font-family: Roboto;
	margin: 0;
	margin-bottom: 5%;
	text-align: center;
	font-size: 35px;
}
.podfilm .film1{
	margin-left: 13%;
}


}


header a:hover{
	color: #696969;
	}
nav{
	
	margin-left: 7%;
	margin-top: 10px;
	
	float: left;
}
.number{
	margin-right: 1%;
	margin-top: 0.4%;
	float: right;
	width: 12%; 
}
.number p{
	color: white;
	font-family: Roboto,sans-serif;
}
.number a{
	color:white;
	text-decoration: none;
}


.menu li{
	display: block;
	float: right;
	margin-left: 10px;
}
/*.information{
	border-radius: 3%;
	background: #000000;
	margin-right: 10%;
	margin-top: 11%;
	float: right;
	width: 40%;
	

}
.information h1{
	margin-left: 5%;
	color: white;
	margin-bottom: 0;
}
.information li{
	font-family: Roboto;
	color: #009D91;
	font-size: 25px;
}*/
.foto img:hover{
			transform: scale(1.2);
			-webkit-transform:scale(1.5);
			/*margin-left: 100px;
			margin-top: -60px;*/
			box-shadow: 0 10px 15px rgba(0,0,0,0.5);
			/*z-index: 50;*/
		}


.container a{
	text-decoration: none;
	color :#D3D3D3;
}






hr{
	width: 80%;
	margin: 10% 10% 3% 10%;
	background: white;
	height: 5px;
	border: 0;
	border-radius: 15% 15% 15% 15%;
	background-image: -webkit-linear-gradient(left, white, black, white);
	box-shadow: inset 0 12px 12px -12px rgba(0,0,0,1);
}


.container{
	 margin-bottom: 5%;
	 float: left;
	 width: 100%;
}

.hpi img{
	/*max-height: 300px;*/
	width: 100%;
}

/*.nastroy2{
	
	float: left;
	margin-left: 10%;
	height: 300px;
	width: 20%;
}
.nastroy2 img{
	border: solid 2px black;
	margin-left: 4%; 
	width: 90%;
	height: 80%;
}
.nastroy2 p{
	margin: 0;
	font-family: Pompudar;
	color: #E6E6FA;
	margin-bottom: 5%;
	text-align: center;
	font-size: 20px;

}*/




.galery{
	float: left;
	padding: 0;
}




#thumbs a:hover {
  border-color: #FF9900;
}

#thumbs li {
  list-style: none;
}

#thumbs {
  margin: 0;
  padding: 0;
}


.hr1{
	margin: 3% 10% 3% 10%;
	width: 80%;
}
